.Left {
    float: left;
    width: 50%;
    height: 100%;
}
.Right {
    float: right;
    width: 50%;
    height: 100%;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

/* https://bootswatch.com/darkly/?*/


.dataBaseGrid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    
}

.card {
    left:50%;
    transform: translateX(-50%);
}

.card-img-top {
    width:100px;
    height:100px;
    float:left;
    margin-right:25px;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.removeHyper {
    color: inherit;
    text-decoration: inherit;
}

